.memo {
  z-index: 10;
  max-width: 13em;
  padding: 3px;
  border-radius: 5px;
  background: #F7F7F7;
  font-family: sans-serif;
  font-size: xx-small;
  color: #AAA;
  box-shadow: 0px 5px 10px 0px #777;
  display: inline-block;
  position: fixed;
  text-indent: 0;
  line-height: normal;
  user-select: none;
}

