@use "sass:map";
@use "sass:list";
@use "sass:color";

.memo {
  z-index: 10;
  max-width: 13em;
  padding: 3px;
  border-radius: 5px;
  background: #F7F7F7;
  font-family: sans-serif;
  font-size: x-small;
  color: #AAA;
  box-shadow: 0px 5px 10px 0px #777;
  position: fixed;
  text-indent: 0;
  line-height: normal;
  user-select: none;
  display: flex;
  align-items: flex-start;

  .memo-button {
    font-size: medium;
    font-weight: bold;
    line-height: 0.7;
    padding: 3px;

    &:hover {
      background: rgba(30,30,30,0.5);
      color: white;
    }
  }

  .memo-text {
    min-height: 2ex;
    min-width: 2em;
    margin-right: 1px;
    padding: 2px;
    border-radius: 2px;

    &:focus {
      outline: 0px solid transparent;
      background: rgba(255,255,255,0.8);
      color: black;
    }
  }
}

$memo_colors: (
  (background: #f94144, color: white),
  (background: #f3722c, color: white),
  (background: #f8961e, color: black),
  (background: #f9c74f, color: black),
  (background: #90be6d, color: black),
  (background: #43aa8b, color: white),
  (background: #577590, color: white),
);
$memo_colors_count: length($memo_colors);

@for $i from 1 through $memo_colors_count {
  $counter: "#{$memo_colors_count}n + #{$i}";
  $nth: "nth-child(#{$counter})";
  $map: list.nth($memo_colors, $i);
  $background: map.get($map, "background");
  $darker_bg: color.scale($background, $lightness: -20%, $saturation: -30% );
  $color: map.get($map, "color");
  $darker_co: color.scale($color, $lightness: -20%, $saturation: -30% );

  .memoed:#{$nth},
  .memo:#{$nth} {
    background: #{$background};
    color: #{$color};
  }

  .memoed:#{$nth}::selection {
    background: #{$darker_bg};
    color: #{$darker_co};
  }
}

.shadow-dom {
  position: absolute;
}

