.memo {
  z-index: 10;
  max-width: 13em;
  padding: 3px;
  border-radius: 5px;
  border: solid thin #F7F7F7;
  background: #F7F7F7;
  font-family: sans-serif;
  font-size: xx-small;
  color: #AAA;
  box-shadow: 0px 0px 10px 10px white;
  display: inline-block;
  position: fixed;
  text-indent: 0;
  line-height: normal;
  user-select: none;
}

.context:nth-child(4n+1), .context:nth-child(4n+1) .memo {
  background: #917DA1;
  color: #E5E5E5;
}

.context:nth-child(4n+2), .context:nth-child(4n+2) .memo {
  background: teal;
  color: #E5E5E5;
}

.context:nth-child(4n+3), .context:nth-child(4n+3) .memo {
  background: wheat;
  color: #777;
}

.context:nth-child(4n+4), .context:nth-child(4n) .memo {
  background: yellow;
  color: black;
}

