.memo {
  z-index: 10;
  max-width: 13em;
  padding: 3px;
  border-radius: 5px;
  border: solid thin #F7F7F7;
  background: #F7F7F7;
  font-size: xx-small;
  color: #AAA;
  box-shadow: 0px 0px 10px 10px white;
  display: inline-block;
  position: absolute;
}

.color_0 {
  background: yellow;
  color: black;
}

.color_1 {
  background: #917DA1;
  color: #E5E5E5;
}

.color_2 {
  background: teal;
  color: #E5E5E5;
}

.color_3 {
  background: wheat;
  color: #777;
}

